{% extends 'base.html.twig' %}


{% block title %}Admin{% endblock %}

{% block body %}
    <div class="admin-page">
        <div class="container">
        <div class="row">
                <div class="col s12">
                       <h5>Agence</h5>

                    <a href="{{ path('agence_new') }}"  class="btn btn-outline-danger " >Ajouter</a><br>
                    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Tel agence</th>
                <th>Adresse ville</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agence in agences %}
            <tr>
                <td>{{ agence.id }}</td>
                <td>{{ agence.Nom }}</td>
                <td>{{ agence.telagence }}</td>
                <td>{{ agence.adresseville }}</td>
                <td>
                    <a href="{{ path('agence_show', {'id': agence.id}) }}" class="btn btn-danger btn-sm ">Voir</a>
                    <a href="{{ path('agence_edit', {'id': agence.id}) }}" class="btn btn-danger btn-sm">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

                    </div>
                    </div>
        
    
            <div class="row">
                <div class="col s12">
                       <h5>Voitures</h5>

                    <a href="{{ path('create_voiture') }}"  class="btn btn-outline-danger">Ajouter</a><br>
<table class="table">
                        <tr>
                            <th>#</th>
                            <th>Marque</th>
                            <th>Couleur</th>
                            <th>Description</th>
                            <th>Nombre de place</th>
                            <th>Nom Agence</th>
                            <th>Actions</th>
                        </tr>
 {% set i = 1 %}
                        {% for voiture in voitures %}
                            <tr>
                                <td>{{ i }}</td>
                                <td>{{ voiture.marque|e }}  </td>
                                <td>{{ voiture.couleur|e }}  </td>
                                <td>{{ voiture.Description|e }} </td>
                                <td> {{ voiture.nbrplace|e }} Places  </td> 
                                <td> {{ voiture.idagence|e }}   </td> 
       							 <td>{% if voiture.disponibilite %}
        

<a href="{{ path('editvoiturebymat', {mat: voiture.matricule}) }}" target="_blank" class="btn btn-danger btn-sm">Modifier</a> 
<a href="{{ path('removevoiturebymat', {mat: voiture.matricule}) }}" target="_blank" class="btn btn-danger btn-sm">Supprimer</a>

{% else%}
-   				

       					 {% endif%}
</td>
                            </tr>
                            {% set i = i+1 %}
                        {% endfor %}
                    </table>
                </div>
            </div>
<div class="row">
                <div class="col s12 m-t-30">
                
                    <h5>Utilisateurs</h5>
                    <a href="{{ path('app_register') }}"  class="btn btn-outline-danger">Ajouter</a><br>
<table class="table">
                        <tr>
                            <th>#</th>
                            <th> Email</th>
                            <th>Roles</th>
                            <th>Actions</th>
                        </tr>
{% set i = 1 %}
                        {% for user in users %}
                            <tr>
                                <td>{{ i }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                   {% for role in user.roles %}
                                   {{ role }}
                                   {% endfor %}
                                </td>

<td>
                                    <a href=""><i class="btn btn-danger btn-sm">Supprimer</i></a>
                                </td>
                            </tr>
                            {% set i = i+1 %}
                        {% endfor %}
                    </table>
</div>
</div>
                

   
    
    
            
     
        </div>
    </div>
    


{% endblock %}