{% extends 'base.html.twig' %}


{% block title %}Admin{% endblock %}

{% block body %}
    <div class="admin-page">
        <div class="container">
            <div class="row">
                <div class="col s12">
                       <h5>Voitures</h5>

                    <a href="{{ path('create_voiture') }}" class=navbar-brand">Ajouter</a><br>
<table class="table">
                        <tr>
                            <th>#</th>
                            <th>Marque</th>
                            <th>Couleur</th>
                            <th>Description</th>
                            <th>Nombre de place</th>
                            <th>Actions</th>
                        </tr>
 {% set i = 1 %}
                        {% for voiture in voitures %}
                            <tr>
                                <td>{{ i }}</td>
                                <td>{{ voiture.marque|e }}  </td>
                                <td>{{ voiture.couleur|e }}  </td>
                                <td>{{ voiture.Description|e }} </td>
                                <td> {{ voiture.nbrplace|e }} Places  </td> 

       							 <td>{% if voiture.disponibilite %}
        

<a href="{{ path('editvoiturebymat', {mat: voiture.matricule}) }}" target="_blank">Modifier</a> 
<a href="{{ path('contrat_nouveau') }}" target="_blank">Louer</a> 
{% else%}

     <a href="{{ path('app_rendre', {mat: voiture.matricule}) }}" target="_blank">rendre</a>    				

       					 {% endif%}
</td>
                            </tr>
                            {% set i = i+1 %}
                        {% endfor %}
                    </table>
                </div>
            </div>
<div class="row">
                <div class="col s12 m-t-30">
                
                    <h5>Utilisateurs</h5>
                    <a href="{{ path('app_register') }}" class=navbar-brand">Ajouter</a><br>
<table class="table">
                        <tr>
                            <th>#</th>
                            <th>Adresse email</th>
                            <th>Roles</th>
                            <th>Actions</th>
                        </tr>
{% set i = 1 %}
                        {% for user in users %}
                            <tr>
                                <td>{{ i }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                   {% for role in user.roles %}
                                   {{ role }}
                                   {% endfor %}
                                </td>

<td>
                                    <a href=""><i class="material-icons red-text">supprimer</i></a>
                                </td>
                            </tr>
                            {% set i = i+1 %}
                        {% endfor %}
                    </table>
</div>
</div>
                
 <h5>Contrat index</h5>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datedepart</th>
                <th>Dateretour</th>
                 <th>Matricule</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contrat in contrats %}
            <tr>
                <td>{{ contrat.id }}</td>
                <td>{{ contrat.datedepart ? contrat.datedepart|date('Y-m-d') : '' }}</td>
                <td>{{ contrat.dateretour ? contrat.dateretour|date('Y-m-d') : '' }}</td>
                <td>{{ contrat.voiture }}</td>
                <td>
                    <a href="{{ path('contrat_voir', {'id': contrat.id}) }}">voir</a>
                    <a href="{{ path('contrat_modif', {'id': contrat.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
    
    
            
     
        </div>
    </div>
    


{% endblock %}