{% extends 'base.html.twig' %}

{% block title %}Agence{% endblock %}

{% block body %}
    <h1>Agence</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ agence.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ agence.Nom }}</td>
            </tr>
            <tr>
                <th>Telephone agence</th>
                <td>{{ agence.telAgence }}</td>
            </tr>
            <tr>
                <th>Adresse ville</th>
                <td>{{ agence.adresseVille }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('agence_index') }}">retour</a>

    <a href="{{ path('agence_edit', {'id': agence.id}) }}" class="btn btn-danger btn-sm">Modifier</a>

    {{ include('agence/_delete_form.html.twig') }}
{% endblock %}
